@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Lilita+One&family=Nunito:wght@400;700;800&display=swap");
:root {
  /* Colors */
  --color-green: #4C956C;
  --color-green-dark: #2C6E49;
  --color-orange: #F4A261;
  --color-orange-dark: #E76F51;
  --color-yellow: #E9C46A;
  --color-yellow-light: #FFE9B3;
  --color-blue: #37A3BB;
  --color-purple: #BB56C4;
  --color-grey: #494949;
  --color-cream: #FFF8ED;
  /* Implementations */
  --background-color: var(--color-cream);
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: var(--color-grey);
  font-weight: 400;
  background-color: var(--background-color);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* COLORES */
/* greens */
.color-green {
  color: var(--color-green);
}

.bg-color-green {
  background-color: var(--color-green);
}

.color-green-dark {
  color: var(--color-green-dark);
}

.bg-color-green-dark {
  background-color: var(--color-green-dark);
}

/* oranges */
.color-orange {
  color: var(--color-orange);
}

.bg-color-orange {
  background-color: var(--color-orange);
}

.color-orange-dark {
  color: var(--color-orange-dark);
}

.bg-color-orange-dark {
  background-color: var(--color-orange-dark);
}

/* yellows */
.color-yellow {
  color: var(--color-yellow);
}

.bg-color-yellow {
  background-color: var(--color-yellow);
}

.color-yellow-light {
  color: var(--color-yellow-light);
}

.bg-color-yellow-light {
  background-color: var(--color-yellow-light);
}

/* blues */
.color-blue {
  color: var(--color-blue);
}

.bg-color-blue {
  background-color: var(--color-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.8em;
}

h1,
.h1 {
  font-family: "Lilita One", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 400;
}

h2,
.h2 {
  font-family: "Lilita One", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
}

h3,
.h3 {
  font-family: "Gloria Hallelujah", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}

h4,
.h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

h5,
.h5 {
  font-size: 1.12rem;
}

h6,
.h6 {
  font-size: 1rem;
}

span {
  color: var(--color-orange);
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  padding: 15px 30px;
}

#topbar__toggle {
  display: none;
}

#topbar__label {
  color: white;
  height: 24px;
}

.nav__left {
  display: none;
}

#topbar__toggle:checked + .nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#nav__right__make-your-vinyl {
  display: none;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

input[type=text], input[type=email], textarea {
  background-color: rgba(213, 213, 213, 0.6);
  color: #494949;
  border: none;
  border-width: 2px;
  border-radius: 25px;
  padding: 10px 13px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
  outline: none;
  background-color: rgb(213, 213, 213);
}

textarea {
  height: 240px;
}

a {
  color: #FC8455;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

a:visited {
  color: #7A731C;
}

a:hover {
  text-decoration-thickness: 4px;
}

button,
.btn {
  display: inline-block;
  padding: 0.4rem 2rem;
  background-color: var(--color-green-dark);
  border: none;
  text-decoration: none;
  color: white;
  border-radius: 13px;
  line-height: 2;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover,
.btn:hover {
  background-color: var(--color-green);
}

.btn--secondary {
  background-color: transparent;
  color: var(--color-green-dark);
  border: 2px solid var(--color-green-dark);
}

.btn--secondary:hover {
  background-color: transparent;
  font-weight: 800;
}

.btn:visited {
  color: white;
}

.btn--secondary:visited {
  color: var(--color-grey);
}

main > section {
  padding: 0 30px;
}

.header__landing {
  background-image: url("../images/vinilisimo-header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  padding: 30px;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}