button,
.btn {
    display: inline-block;
    padding: 0.4rem 2rem;
    background-color: var(--color-green-dark);
    border: none;
    text-decoration: none;
    color: white;
    border-radius: 13px;
    line-height: 2;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover,
.btn:hover {
  background-color: var(--color-green);
}

.btn--secondary {
    background-color: transparent;
    color: var(--color-green-dark);
    border: 2px solid var(--color-green-dark);
}

.btn--secondary:hover {
    background-color: transparent;
    font-weight: 800;
}

.btn:visited {
    color: white;
}

.btn--secondary:visited {
    color: var(--color-grey);
}

.btn--blog {
    background-color: var(--color-orange);
}