/* COLORES */

/* greens */
.color-green {
    color: var(--color-green);
}
.bg-color-green {
    background-color: var(--color-green);
}

.color-green-dark {
    color: var(--color-green-dark);
}
.bg-color-green-dark {
    background-color: var(--color-green-dark);;
}


/* oranges */
.color-orange {
    color: var(--color-orange);
}
.bg-color-orange {
    background-color: var(--color-orange);
}

.color-orange-dark {
    color: var(--color-orange-dark);
}
.bg-color-orange-dark {
    background-color: var(--color-orange-dark);
}


/* yellows */
.color-yellow {
    color: var(--color-yellow);
}
.bg-color-yellow {
    background-color: var(--color-yellow);
}

.color-yellow-light {
    color: var(--color-yellow-light);
}
.bg-color-yellow-light {
    background-color: var(--color-yellow-light);
}


/* blues */
.color-blue {
    color: var(--color-blue);
}
.bg-color-blue {
    background-color: var(--color-blue);
}