/* COLORES */
.color-green {
    color: #4C956C;
}
.bg-color-green {
    background-color: #4C956C;
}

.color-green-dark {
    color: #2C6E49;
}
.bg-color-green-dark {
    background-color: #2C6E49;
}

.color-orange {
    color: #F4A261;
}
.bg-color-orange {
    background-color: #F4A261;
}

.color-orange-dark {
    color: #E76F51;
}
.bg-color-orange-dark {
    background-color: #E76F51;
}

.color-yellow {
    color: #E9C46A;
}
.bg-color-yellow {
    background-color: #E9C46A;
}

.color-blue {
    color: #37A3BB;
}
.bg-color-blue {
    background-color: #37A3BB;
}