:root {
    /* Colors */
    --color-green: #4C956C;
    --color-green-dark: #2C6E49;
    --color-orange: #F4A261;
    --color-orange-dark: #E76F51;
    --color-yellow: #E9C46A;
    --color-yellow-light: #FFE9B3;
    --color-blue: #37A3BB;
    --color-purple: #BB56C4;
    --color-grey: #494949;
    --color-cream: #FFF8ED;

    /* Implementations */
    --background-color: var(--color-cream);
}

$unit: 15px;
$unit-double: $unit * 2;
$padding: $unit $unit-double;

.no-padding {
    padding: 0;
}

.regular-padding {
    padding: $padding;
}

$bp-desktop: 900px;