// PREFOOTER

.pre-footer {
    text-align: center;
    padding: $padding;
    margin-bottom: $unit-double;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


// FOOTER

footer {
    margin-top: $padding 0 0 0;
}

footer a {
    color: white;
    text-decoration: none;

    &:visited {
        color: white;
    }
}

footer .waves {
    fill: var(--color-orange);
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-footer {
    background-color: var(--color-orange);
    padding: $padding;

    &__upper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 22px;
    }

    &__lower {
        margin-top: $unit;
        color: white;
        text-align: center;
    }
}

.main-footer__nav ul {
    display: flex;
    flex-direction: row;
    gap: $unit-double;
}

.main-footer__fine-print {
    font-size: 1rem;
}

.main-footer__fine-print ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.main-footer__social-media ul{
    display: flex;
    flex-direction: row;
    gap: $unit;
    fill: white;
}

@media screen and (min-width: $bp-desktop) {

    .main-footer {

        &__upper {
            flex-direction: row;
            justify-content: space-between;
            max-width: 700px;
            margin: auto;
            

            text-align: left;
        }

        &__lower {
            max-width: 700px;
            margin: auto;
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & p {
                display: flex;
                order: -1;
            }
        }

        &__nav ul {
            flex-direction: column;
            gap: 0.5rem;
        }

        &__social-media ul {
            flex-direction: column;
        }
    }



}