h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.8em;
}

h1,
.h1 {
    font-family: 'Lilita One', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 400;
}

h2,
.h2 {
    font-family: 'Lilita One', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
}

h3,
.h3 {
    font-family: 'Gloria Hallelujah', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
}

h4,
.h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

h5,
.h5 {
    font-size: 1.12rem;
}

h6,
.h6 {
    font-size: 1rem;
}

@media screen and (min-width: $bp-desktop) {


    h1,
    .h1 {
        font-size: 3.75rem;
    }

    h2,
    .h2 {
        font-family: 'Lilita One', sans-serif;
        text-transform: uppercase;
        font-size: 2.75rem;
    }

    h3,
    .h3 {
        font-family: 'Gloria Hallelujah', sans-serif;
        text-transform: uppercase;
        font-size: 2.2rem;
    }

    h4,
    .h4 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    h5,
    .h5 {
        font-size: 1.12rem;
    }

    h6,
    .h6 {
        font-size: 1rem;
    }

    p {
        font-size: 1.5rem;
    }
}
