// TODOS LOS HEADER

header {
    padding: $padding;
}

header p {
    font-family: 'Gloria Hallelujah';
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
}




// HEADER DE PÁGINA DE INICIO

.header__landing {
    background-image: url("../images/vinilisimo-header-background.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    color: white;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 0px 0px 30px 30px;
}


// HEADER CON WAVE (ABOUT)

.header__wave {
    padding: 0;
}
.header__wave .header__content {
    background-color: var(--color-green);
    color: white;
    text-align: center;
    padding: $padding;
    padding-top: $unit-double;
}

.header__wave .waves {
    fill: var(--color-green);
}


// HEADER CLASSIC (CONTACT, BLOG)

.header__classic {
    text-align: center;
    padding-top: $unit-double;
}