// TODOS LOS HEADER

header {
    padding: $padding;
}



.header__content {
    max-width: 600px;
}


header p {
    font-family: 'Gloria Hallelujah';
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
}
@media screen and (min-width: $bp-desktop) {

    header {
        padding-left: $unit-double*2;
        padding-right: $unit-double*2;

        & p {
            font-size: 1.2rem;
        }
    }

}



// HEADER DE PÃGINA DE INICIO

.header__landing {
    background-image: url("../images/vinilisimo-header-background.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: left;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 0px 0px 30px 30px;

    & .header__outter {
        width: 100%;
        max-width: $max-width__page;
        margin: auto;
    }

    & h1 {
        margin-bottom: 0.4em;
    }
}

@media screen and (min-width: $bp-desktop) {

    .header__landing {
        height: 80vh;
    }

}


// HEADER CON WAVE (ABOUT)

.header__wave {
    padding: 0;

    & .header__content {
        background-color: var(--color-green);
        color: white;
        text-align: center;
        padding: $padding;
        padding-top: $unit-double * 3;
        max-width: none;

        & > * {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .waves {
        fill: var(--color-green);
    }
}



// HEADER CLASSIC (CONTACT, BLOG)

.header__classic {
    text-align: center;
    padding-top: $unit-double * 3;
    
    & .header__content {
        margin: auto;
    }
}