// HEADER DE PÁGINA DE INICIO

.header__landing {
    background-image: url("../images/vinilisimo-header-background.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    color: white;
    padding: $padding;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 0px 0px 30px 30px;
}

.header__landing p {
    font-family: 'Gloria Hallelujah';
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
}