.waves {
    fill: var(--color-yellow-light); 
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    height:40px;
    min-height:40px;
}

.waves--upside-down {
    transform: rotate(180deg);
}

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
  
@keyframes move-forever {
0% {
    transform: translate3d(-90px,0,0);
}
100% { 
    transform: translate3d(85px,0,0);
}
}