@import "_custom-properties";
@import "site/_site";
@import "_colors";
@import "_headers";
@import "_typography";
@import "_topbar";
@import "_header";
@import "_footer";
@import "_forms";
@import "_links";
@import "_buttons";
@import "_svg-animations";



.section__playlist-to-vinyl {
    padding: 0;
}

.section__playlist-to-vinyl__content {
    background-color: var(--color-yellow-light);
    padding: $unit $padding;
}

