@import "_custom-properties";
@import "site/_site";
@import "_colors";
@import "_headers";
@import "_typography";
@import "_topbar";
@import "_forms";
@import "_links";
@import "_buttons";


main > section {
    padding: 0 $padding;
}

.header__landing {
    background-image: url("../images/vinilisimo-header-background.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    color: white;
    padding: $padding;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}