// SECCIONES BLOG

.section__blog {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: $unit-double*2;

    & .blog__link {
        color: var(--color-grey);
        text-decoration: none;

        &:hover {
            color: var(--color-grey);
            text-decoration: none;
        }

        &:visited {
            color: var(--color-grey);
        }
    }
}

.article__blog--thumbnail, .article__blog--single {
    margin-bottom: $unit-double;
    text-align: left;

    & img {
        border-radius: 30px;
    }

    
}

.article__blog--thumbnail {
    max-width: 450px;

}


.blog {

    &__time {
        font-family: 'Gloria Hallelujah', sans-serif;
    }

    &__subheader {
        text-align: center;
        font-family: 'Gloria Hallelujah', sans-serif;
        text-transform: uppercase;
        font-size: 1.3rem;
        margin: 1.6rem 0;
    }
}




@media screen and (min-width: $bp-desktop) {

    .section__blog {
        align-items: flex-start;

        & h2 {
            font-size: 2rem;
        }

        & p {
            font-size: 1.2rem;
        }

        & .article__blog--thumbnail {
            max-width: 360px;

            & img {
                object-fit: cover;
                width: 360px;
                height: 360px;
            }
        }
    }

    .article__blog--single {

        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: $unit-double;

        & img {
            max-width: $max-width__page;
            margin: auto;
        }

        &__content {
            max-width: 820px;
            margin: auto;
        }
    }


}