// SECCIONES INDEX


// sección artículos

.section__articles {
    padding-bottom: 0;
    & img {
        border-radius: 30px;
        max-width: 690px;
        min-width: 290px;
    }
}

@media screen and (min-width: $bp-desktop) {

    .section__articles__content {
        display: flex;
        text-align: right;
        gap: $unit-double*2;
        max-width: $max-width__page;
        margin-left: auto;
        margin-right: auto;
        align-items: center;

        .section__articles__text {
            max-width: 540px;
            flex-grow: 1;

            &-1 {
                order: 1;
                text-align: left;
            }
        }
    }
}

// sección cómo funciona

.section__how-it-works__content {
    background: linear-gradient(180deg, #60B8CC 0%, rgba(55, 163, 187, 0) 100%);


    & img {
        max-width: 700px;
    }
}

.section__how-it-works__content h2 {
    color: white;
}

.section__how-it-works .waves {
    fill: #60B8CC;
}

.how-it-works__steps {

    &__section {
        display: flex;
        flex-direction: row;
        gap: $unit;
        justify-content: space-evenly;
    }

    &__item {
        max-width: 180px;
    }
}

@media screen and (min-width: $bp-desktop) {

    .how-it-works__steps {

        display: flex;
        flex-direction: row;
        gap: $unit-double;
        justify-content: center;

        &__section {
            gap: $unit-double;
        }
    
        &__item {
            max-width: 270px;
        }
    }

}


// sección "pasa tu playlist a vinilo"

.section__playlist-to-vinyl {
    overflow: hidden;

    &__content {
        overflow: hidden;
    }

    & img {
        width: 230px;
        object-fit: scale-down;
    }

    &__text {
        max-width: 700px;
        margin: auto;
    }
}

@media screen and (min-width: $bp-desktop) {

    .section__playlist-to-vinyl {
        overflow-x: hidden;
    
        & .img-vinilo {
            transform: translateX(88vw) translateY(-286px);
            position: absolute;
            overflow: hidden;
        }
    }

}




.section__playlist-to-vinyl p, .section__reviews p {
    font-family: 'Gloria Hallelujah';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.9rem;
}

@media screen and (min-width: $bp-desktop) {

    .section__playlist-to-vinyl p, .section__reviews p {
        font-size: 1.2rem;
    }
}


// sección "reviews"

.section__reviews {

    padding: 0;

    & h2 {
        max-width: 700px;
        margin: auto;
        padding: 0 20px;
    }

    & .review__link {
        text-decoration: none;
        font-size: 1.3rem;

        &:hover {
            text-decoration: underline;
        }

        &__1, .review__link__1:visited {
            color: var(--color-green);
        }

        &__2, .review__link__2:visited {
            color: var(--color-purple);
        }

        &__3, .review__link__3:visited {
            color: var(--color-blue);
        }
    }

    &__content {
        position: relative;
        width: 100vw;
        min-width: 350px;
        min-height: 250px;
        padding-bottom: 40px;
        overflow: hidden;
    }

    & .reviews__wrapper {
        width: 220%;
        /* 300% 'caz we have 3 cards */
        min-height: 100%;
        display: flex;
        justify-content: space-evenly;
        transition: 1s;
        padding: 0 10%;
    }

    & .reviews__card {
        width: 600px;
        min-height: 100%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 0 10px;
    }

    .indicators{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .indicators button{
        padding: 0;
        background: none;
        border: none;
        outline: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid var(--color-grey-light);
        cursor: pointer;
        margin-left: 5px;
        transition: .5s;
    }
    
    button.button--active{
        width: 40px;
        border-radius: 50px;
        background: var(--color-grey-light);
    }
}