body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--color-grey);
    font-weight: 400;
    background-color: var(--background-color);
}

* {
    box-sizing: border-box;
}

main {
    text-align: center;
}

main > section {
    padding: 0 $padding;
}