body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--color-grey);
    font-weight: 400;
    background-color: var(--background-color);
}

* {
    box-sizing: border-box;
}

main {
    text-align: center;
}

main > section {
    padding: $padding;
    margin-bottom: $unit-double;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
