body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: var(--color-grey);
    font-weight: 400;
    background-color: var(--background-color);
}

* {
    box-sizing: border-box;
}

main {
    text-align: center;
}

main > section {
    padding: $padding;
    margin-bottom: $unit-double;
}

main article {
    margin-bottom: $unit-double;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

figure {
    margin: 0;
}

@media screen and (min-width: $bp-desktop) {

    main > section {
        padding: $padding-desktop;
        margin-bottom: $unit-double*2;
    }

    main article {
        margin-bottom: $unit-double*2;
    }

}
